.slide-show{
    margin-top: 30px;
}

.slide-imangi{
    height: 311px;
    width: 525px;
} 
@media screen and (max-width: 550px) {
    .slide-imangi{
        height: 210px;
        margin: 0px;
        width: 320px;
    }    
}