@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
body{
  background-color: #c3c8f5;
}
.contact-form{
    padding: 50px 20px;
    background: #3A459C;
    border: 7px solid #1A7BBD;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    height: 100%;
    /* width: fit-content; */
}
.wrapper{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.img{
    background-image: url('../img/logs.JPG');
    /* height: 236px;
    width: 242px; */
    height: 482px;
    width: 494px;
    background-repeat: no-repeat;
    background-size: cover;
    

    border-radius: 2px;
    filter: drop-shadow(3px 4px 5px rgba(0, 0, 0, 0.25));
}
hr.contact{
    width: 300px;
    border: 1px solid #6BBAF4;
    transform: rotate(90deg);
}
.text-input{
    border: 2px solid white;
    border-radius: 3px;
    width: 300px;
    background-color: white;
    margin: 10px 0px;
    padding: 10px 20px;
    font-family: 'Montserrat', FontAwesome;
    font-size: large;
    outline: none;
    text-transform: capitalize;
    transition: 0.2s;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.text-input:focus{
    border-color: #3A459C;
    /* color: white; */
    color: #bcdff6;
    border-bottom-color: white;
    box-shadow: none;
    background-color: #4754B6;

}
textarea{
    width: 300px;
    margin: 10px 0px;
    outline: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: large;
    font-family: 'Montserrat', FontAwesome;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.submit_button{
    margin: 15px 0px;
    width: fit-content;
    padding: 8px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    border: 3px solid white;
    background-color: #3A459C;
    color: white;
    cursor: pointer;
    transition-duration: 0.2s;
    outline: none;
    box-shadow: inset 0px 0px 3px 0px #025b97;
}
.submit_button:hover{
  background-color: white;
  color: #3A459C;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.success, .fail{
    display: none;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    width: fit-content;
    text-align: center;
    padding: 14px 30px;
    border-radius: 5px;
    margin: 20px 0px;

}
.success{
    color: #155724;
    background-color: #81ca92;
}
.fail{
    background-color: #F8D7DA;
}
.close-success, .close-fail{
    cursor: pointer;
    margin: 0px 0px 0px 20px;
    border-radius: 20px;
    text-align: right;
    
    transition: 0.2s;
}
.close-success{
    color: #003300;
}
.close-fail{
    color: #6c131b;
}
.close-success:hover, .close-fail:hover{
    opacity: 0.7;
}
@media screen and (max-width: 1290px) {
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    hr.contact{
        transform: none;
        margin: 50px 0px;
        width: 460px;
        border: 1px solid #6BBAF4;
    }
    .text-input, textarea{
        width: 450px;
        
    }
    .img{
        height: 406px;
        width: 444px;
        background-image: url('../img/logo.PNG');

    }
}
@media screen and (max-width: 590px) {
    .text-input, textarea{
        width: 250px;
        
    }
    hr.contact{
        transform: none;
        margin: 20px 0px;
        width: 280px;
        border: 1px solid #6BBAF4;
    }
    .img{
        height: 306px;
        width: 304px;
        background-image: url('../img/logo.PNG');

    }
}
