.nav{
    padding: 20px;
    border-radius: 0px;
    text-align: center;
    background: #4754B6;
    box-shadow: 0px 0px 4px 2px #040727;
}
.nav-home{
    /* float: left; */
    font-size: 17px;
    font-weight: 500;
    color: white;
    border: 0.5px solid white;
    padding: 10px 15px;
    transition: 0.2s;
}
.nav-item{
    font-size: 17px;
    font-weight: 500;
    color: white;
    font-family: comfortaa;
    padding: 10px 10px;
    margin: 0px 15px;
    transition: 0.2s;
    border: 0.5px solid #4754B6;

}
.nav-home:hover{
    background-color: white;
    color: #4754B6;
}
.nav-item:hover{
    border: 0.5px solid white;
}
.nav-item:active{
    transition: 0.1s;
    background-color: white;
    color: #4754B6;
}
a{
    text-decoration: none;
}
@media screen and (max-width: 1150px) {
    .nav-item{
        font-size: 15px;
    }
}